<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block titulo%} Inicio {% endblock %} - Master en PHP de Victor Robles
    </title>
</head>
<body>
    <div id="header">
        {%block cabecera %}
            <h1>Cabecera de la plantilla</h1>
        {%endblock%}
    </div>

    <div id="content">
        {%block contenido %}
            <p>Contenido por defecto</p>
        {%endblock%}
    </div>

    <footer>
        lucasortins.web
    </footer>
</body>
</html>