form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

nav .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

nav .container-avatar img{
    height: 100%;
}